.jss1{
    top: 10%;
    left: 50%;
    margin: auto;
    z-index: 4;
    position: absolute;
    transform: translateX(-50%);
    .jss2{
        height: 314px;
        display: block;
        position: relative;
        border-radius: 4px;
        margin-bottom: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .jss3{
        top: 50%;
    width: 30%!important;
    z-index: 3;
    position: absolute;
    transform: translateY(-50%);
    }
    .jss4{
        color: #fff;
    cursor: pointer;
    padding: 7.2px 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background-color: #fb4226;
    }
    .jss5{
        display: flex;
    transform: translateY(50%);
    justify-content: center;
    justify-items: center;
    position: absolute;
    }
    .jss6{
        color: #86f348;
        width: 110px!important;
        height: 110px!important;
        position: relative;
    }
    .jss7{
        position: absolute;
        top: 12%;
        color: #fff;
        font-size: 25px;
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    .jss8{
        justify-items: center;
    }
}

